@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
  }
  
  #wrap {
    min-height: 100vh;
    position: relative;
    width: 100%; 
  
  }
  
  section {
    padding-bottom: 50px;
  }
  
  footer {
    text-align: center;
    width: 100%;
    height: 200px;
    position: absolute;
    border-top: solid 0.5px #4C5B5D ;;
    padding-top: 30px;
    color: #4C5B5D;
    font-size: 15px;
  }
 
  footer a {
    text-decoration: none;
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #4C5B5D; 
    font-size: 11px;
  }
  
  footer a:visited {
    color: #4C5B5D;
  }

  footer p {
    margin-top: 0; 
    margin-bottom: 0;   
  }
  
  footer p span {
    font-size: 5px;
    display: inline-block;
    margin-left: 20px;
  }

  footer nav a {

    font-size: 5px;
  }